.header {
    color: #ffff00;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../src/images/outerSpace.jpg);
    background-size: cover;
    height: 100px;
}

// .header-favorites {
//     display: flex;
//     justify-content: flex-end;
// }


